body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    /* background-color: #1f2937; */
    margin: 0px;
}
.header {
    font-size: larger;
    color: #f9faf8;
    display: flex;
    padding: 10px;
    margin: 0;
    background-color: #1f2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 18px;
}

.logo {
    font-weight: bold;
}

.rightlinks {
    
}